import("stats", "shiny", "ShinyImage")
importFrom("EBImage", "imageData", "display", "otsu")
importFrom("shinythemes", "shinytheme")
importFrom("shinyjs", "useShinyjs", "hidden", "hide", "show")
importFrom("fs", "path_home")
importFrom("shinyFiles", "shinyDirButton", "shinyDirChoose")
importFrom("DT", "DTOutput", "renderDT", "datatable")
importFrom("rmarkdown", "render")
importFrom("ggplot2", "ggplot", "geom_point", "geom_abline", "ylab", "annotate")
export("runMultiFlowApp")

